repos:
    - repo: https://github.com/pycqa/isort
      rev: 5.8.0
      hooks:
          - id: isort
            args: ["--filter-files"]
    - repo: https://github.com/psf/black
      rev: 21.4b1
      hooks:
          - id: black
            args: [--safe]
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.9.1
      hooks:
          - id: flake8
            args: ["--config=.flake8"]
            additional_dependencies: ['flake8-bugbear==21.4.3']
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.812
      hooks:
        - id: mypy
          types: [python]
          args: ["--ignore-missing-imports", "--exclude", "carbonserver|tests|examples"]