arrow
black>=22.3.0 # https://github.com/psf/black/issues/2964
dash
dash_bootstrap_components
dataclasses
fire
flake8
isort
mypy
pandas
plotly
pynvml
requests
sphinx
sphinx-rtd-theme
responses
py-cpuinfo
psutil
fuzzywuzzy
