anyio==4.9.0
arrow==1.3.0
black==25.1.0
bumpver==2025.1131
certifi==2025.7.9
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
-e file:///home/ben/codecarbon
colorama==0.4.6
cryptography==45.0.5
distlib==0.3.9
fief-client==0.20.0
filelock==3.18.0
h11==0.16.0
httpcore==1.0.9
httpx==0.27.2
identify==2.6.12
idna==3.10
iniconfig==2.1.0
jwcrypto==1.5.6
lexid==2021.1006
markdown-it-py==3.0.0
mdurl==0.1.2
mypy==1.16.1
mypy-extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.1
nvidia-ml-py==12.575.51
packaging==25.0
pandas==2.3.1
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pre-commit==4.2.0
prometheus-client==0.22.1
prompt-toolkit==3.0.51
psutil==6.1.1
py-cpuinfo==9.0.0
pycparser==2.22
pydantic==1.10.22
pygments==2.19.2
pynvml==12.0.0
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
questionary==2.1.0
rapidfuzz==3.13.0
requests==2.32.4
requests-mock==1.12.1
responses==0.25.7
rich==14.0.0
ruff==0.12.3
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
taskipy==1.14.1
termcolor==2.3.0
toml==0.10.2
tomli==2.2.1
typer==0.16.0
types-python-dateutil==2.9.0.20250708
typing-extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.31.2
wcwidth==0.2.13
yaspin==3.1.0
