alembic<2.0.0
bcrypt<5.0.0
python-dateutil<3.0.0
dependency-injector<5.0.0
fastapi<1.0.0
pydantic[email]<2.0.0
psycopg2-binary<3.0.0
requests<3.0.0
sqlalchemy<2.0.0
uvicorn[standard]<1.0.0
fastapi-pagination<1.0.0
