.login-pf body {
    background: url("../img/ghostbusters-spookcentral.jpg") no-repeat center center fixed;
    background-size: cover;
}

a.zocial.franceconnect-particulier-test,
a.zocial.franceconnect-particulier
{
    background: url(https://partenaires.franceconnect.gouv.fr/images/fc_bouton_alt2_v2.png) no-repeat left top;
    height: 70px;
    width: auto;
    padding-top: 60px;
}

a.zocial.franceconnect-particulier-test:hover,
a.zocial.franceconnect-particulier:hover {
    background: url(https://partenaires.franceconnect.gouv.fr/images/fc_bouton_alt3_v2.png) no-repeat left top !important;
    height: 70px;
    width: auto;
}

a.zocial.franceconnect-particulier-test span,
a.zocial.franceconnect-particulier span{
    display:none;
}
