[codecarbon]
api_endpoint = https://api.codecarbon.io
organization_id = {{ organization_id }}
project_id = {{ project_id }}
experiment_id = {{ experiment_id }}
api_key = {{ api_key }}
# Verbose logging
log_level=WARNING
# Measure power every 30 seconds
measure_power_secs=30
# Send measure to API every 5 minutes (10*30 seconds)
api_call_interval=10
