name: package

on:
  pull_request:
  push:
    branches: [master]

jobs:
    build-package:
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/master' # Only triggered for the `master` branch
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python 3.8
              uses: actions/setup-python@v1
              with:
                  python-version: 3.8
            - name: Build pip package
              run: |
                  pip install -U pip wheel
                  python setup.py sdist bdist_wheel
            - name: Archive Pypi artifacts
              uses: actions/upload-artifact@v1
              with:
                  name: pypi_dist
                  path: dist
            - uses: s-weigand/setup-conda@v1
              with:
                  activate-conda: true
                  conda-channels: conda-forge
            - name: Build conda package
              run: |
                  conda install conda-build conda-verify
                  mkdir -p conda_dist
                  conda build --python 3.6 .conda/py36/ -c conda-forge --output-folder conda_dist
                  conda build --python 3.8 .conda/py37-plus/ -c conda-forge --output-folder conda_dist
            - name: Archive Conda artifacts
              uses: actions/upload-artifact@v1
              with:
                  name: conda_dist
                  path: conda_dist
