name: Release Drafter

on:
  push:
    # branches to consider in the event; optional, defaults to all
    branches: [master, codecarbon_v3_rc]

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "master"
      - uses: release-drafter/release-drafter@v5.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
